{% if pagination.pages > 1 %}
{% set args = request.args.to_dict(flat=True) %}
{% set _ = args.pop('page', None) %}
<nav>
    <ul class="pagination pagination-sm justify-content-center">
        {% if pagination.has_prev %}
        <li class="page-item"><a class="page-link" href="{{ url_for(request.endpoint, page=pagination.prev_num, **args) }}">上一页</a></li>
        {% endif %}
        {% for p in pagination.iter_pages() %}
            {% if p %}
            <li class="page-item {% if p == pagination.page %}active{% endif %}"><a class="page-link" href="{{ url_for(request.endpoint, page=p, **args) }}">{{ p }}</a></li>
            {% else %}
            <li class="page-item disabled"><span class="page-link">...</span></li>
            {% endif %}
        {% endfor %}
        {% if pagination.has_next %}
        <li class="page-item"><a class="page-link" href="{{ url_for(request.endpoint, page=pagination.next_num, **args) }}">下一页</a></li>
        {% endif %}
    </ul>
</nav>
{% endif %}
